p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Nunito", sans-serif;
  --primary-text-color: #1a1a1a;
  --secondary-text-color: #5a5a5a;
  --acent-color: #f4c300;
}

body {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #4a4a4a;
  background: #ffffff;
}

.container {
  width: 1152px;
  padding: 0 144px;
  margin: 0 auto;
}

.section {
  padding-bottom: 128px;
}

.button {
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: #066f14;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.278;
  color: #ffffff;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}
.button:hover, .button:focus {
  scale: 1.1;
  background-color: var(--acent-color);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  color: var(--primary-text-color);
  margin-right: 331px;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 400ms ease-out, border-bottom 400ms ease-out;
  transition: color 400ms ease-out, border-bottom 400ms ease-out;
}
.header__logo:hover, .header__logo:focus {
  color: var(--acent-color);
  border-bottom: 1px solid var(--acent-color);
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.header__nav-link {
  line-height: 1.313;
  color: var(--primary-text-color);
  padding: 8px 0;
  display: block;
  border-bottom: 1px solid transparent;
  -webkit-transition: color 400ms ease-out, border-bottom 400ms ease-out;
  transition: color 400ms ease-out, border-bottom 400ms ease-out;
}
.header__nav-link:hover, .header__nav-link:focus {
  color: var(--acent-color);
  border-bottom: 1px solid var(--acent-color);
}
.header__auch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}
.header__auch-btn {
  font-size: 14px;
  line-height: 1.286;
  color: var(--primary-text-color);
  background-color: #ffffff;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  -webkit-transition: color 400ms ease-out, background-color 400ms ease-out;
  transition: color 400ms ease-out, background-color 400ms ease-out;
}
.header__auch-btn:hover, .header__auch-btn:focus {
  color: #ffffff;
  background-color: var(--acent-color);
}
.header__auch-btn.active {
  color: #ffffff;
  background-color: #066f14;
}

.hero {
  width: 1275px;
  padding: 96px 21px 74px 144px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 117px;
  margin-bottom: 80px;
  background-image: url(../image/hero/klipartz7-1x.png), url(../image/hero/group1-1x.png), url(../image/hero/group2-1x.png), url(../image/hero/group3-1x.png), url(../image/hero/klipartz5-1x.png);
  background-repeat: no-repeat;
  background-position: left 598px bottom 134px, right 413px top 218px, right 21px top 116px, right 34px bottom 134px, right 74px bottom 22px;
}
.hero__content {
  width: 548px;
}
.hero__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.28;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.hero__description {
  margin-bottom: 40px;
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 112px;
  margin-top: 60px;
}
.hero__count {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.361;
  color: #001b04;
  text-align: center;
  margin-bottom: 10px;
}
.hero__text {
  font-size: 18px;
  line-height: 1.278;
  color: var(--primary-text-color);
  text-align: center;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 62px;
}
.gallery__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.361;
  color: var(--primary-text-color);
  width: 389px;
  margin-bottom: 37px;
}
.gallery__link {
  font-size: 18px;
  line-height: 1.278;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 400ms ease-out, fill 400ms ease-out;
  transition: color 400ms ease-out, fill 400ms ease-out;
}
.gallery__link:hover, .gallery__link:focus {
  scale: 1.1;
  color: var(--acent-color);
  fill: var(--acent-color);
}
.gallery__icon {
  fill: currentColor;
  width: 16px;
  height: 23px;
  margin-left: 9px;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.gallery__list-item {
  border-radius: 4px;
  overflow: hidden;
}
.gallery__list-item:hover, .gallery__list-item:focus {
  scale: 1.1;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__image-container {
  position: relative;
  width: 516px;
  height: 480px;
  position: relative;
  background-image: url(../image/about/todd-trapani-1x.jpg);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}
.about__image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 446px;
  height: 440px;
  background-color: #066f14;
  z-index: -1;
}
.about__content {
  width: 504px;
}
.about__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.278;
  color: #066f14;
  margin-bottom: 12px;
}
.about__subtitle {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.about__description {
  margin-bottom: 16px;
}
.about__text {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 36px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 50px;
}
.menu__nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  -webkit-transition: color 400ms ease-out, border-bottom 400ms ease-out;
  transition: color 400ms ease-out, border-bottom 400ms ease-out;
}
.menu__nav-link:hover, .menu__nav-link:focus {
  color: #066f14;
  border-bottom: 1px solid #066f14;
}
.menu__plants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}
.menu__plant-item {
  width: 270px;
  height: 283px;
  padding-top: 7px;
  background-color: #e2ece4;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}
.menu__plant-item:hover, .menu__plant-item:focus {
  background-color: #f0ebe6;
  scale: 1.1;
}
.menu__plant-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__plant-item-content {
  padding: 6px 31px 29px;
}
.menu__plant-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.167;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.menu__plant-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  margin-bottom: 12px;
}
.menu__star {
  width: 16px;
  height: 16px;
}
.menu__plant-price {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.188;
  color: var(--primary-text-color);
}
.menu__btn {
  background: #066f14;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.278;
  color: #ffffff;
}

.testimonial {
  background-image: url(../image/testimonial/pexels-cottonbro-1x.jpg);
  background-repeat: no-repeat;
  background-position: right 144px top 0;
}
.testimonial__content {
  width: 497px;
  margin-bottom: 43px;
}
.testimonial__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.testimonial__description {
  color: #ececec;
}
.testimonial__container {
  position: relative;
  width: 502px;
  background: #066f14;
  padding: 20px 63px 30px 32px;
  margin-bottom: 43px;
}
.testimonial__photo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonial__name {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  color: #ffffff;
  margin-bottom: 6px;
}
.testimonial__pisition {
  font-size: 14px;
  line-height: 1.286;
  color: #d9d9d9;
}
.testimonial__icon {
  position: absolute;
  top: 16px;
  right: 24px;
}
.testimonial__arrow-right {
  position: absolute;
  bottom: 0;
  right: 24px;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #143b19;
}
.testimonial__arrow-left {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
}

.form {
  position: relative;
  padding-top: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 79px;
  background-image: url(../image/form/klipartz-1x.png);
  background-repeat: no-repeat;
  background-position: top 0 right 224px;
}
.form::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 200px;
  height: 320px;
  width: 1040px;
  background: #dfffe3;
  border-radius: 6px;
  z-index: -1;
}
.form__container {
  width: 480px;
  padding: 60px 56px;
  margin-left: 56px;
}
.form__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}
.form__descr {
  margin-bottom: 30px;
}
.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 442px;
  height: 56px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 8px;
}
.form__input {
  width: 360px;
  font-size: 14px;
  line-height: 1.286;
  color: #5a5a5a;
  padding: 11px 20px;
  border: none;
  outline: none;
  -webkit-transition: border 400ms ease-out;
  transition: border 400ms ease-out;
}
.form__input:focus {
  border: 1px solid var(--acent-color);
}
.form__btn {
  padding: 11px 16px;
  background: #066f14;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  line-height: 1.286;
  color: #fefefe;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}
.form__btn:hover, .form__btn:focus {
  background-color: var(--acent-color);
}
.form__img {
  position: absolute;
  bottom: 0;
  right: 24px;
}

.instragram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.instragram__title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.188;
  color: var(--primary-text-color);
  margin-bottom: 12px;
  text-align: center;
}
.instragram__description {
  width: 544px;
  text-align: center;
  margin-bottom: 40px;
}
.instragram__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.instragram__list-item {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.instragram__list-item:hover .overlay, .instragram__list-item:focus .overlay {
  opacity: 1;
  top: 0;
  pointer-events: auto;
}

.overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 2;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 400ms ease-out, top 400ms ease-out;
  transition: opacity 400ms ease-out, top 400ms ease-out;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 201px;
  margin-bottom: 96px;
}
.footer__left {
  width: 306px;
}
.footer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.292;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.footer__descr {
  color: #5a5a5a;
  margin-bottom: 22px;
}
.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.footer__soc-link {
  width: 48px;
  height: 48px;
  background: #edffdd;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 400ms ease-out;
  transition: background-color 400ms ease-out;
}
.footer__soc-link > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: var(--acent-color);
}
.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
}
.footer__nav-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__nav-link {
  line-height: 1.313;
  color: #5a5a5a;
  padding: 8px 0;
  display: inline-block;
  -webkit-transition: color 400ms ease-out, border-bottom 400ms ease-out;
  transition: color 400ms ease-out, border-bottom 400ms ease-out;
}
.footer__nav-link:hover, .footer__nav-link:focus {
  color: var(--acent-color);
  border-bottom: 1px solid var(--acent-color);
}/*# sourceMappingURL=main.css.map */