.hero {
  width: 1275px;
  padding: 96px 21px 74px 144px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 117px;
  margin-bottom: 80px;

  background-image: url(../image/hero/klipartz7-1x.png),
    url(../image/hero/group1-1x.png), url(../image/hero/group2-1x.png),
    url(../image/hero/group3-1x.png), url(../image/hero/klipartz5-1x.png);
  background-repeat: no-repeat;
  background-position: left 598px bottom 134px, right 413px top 218px,
    right 21px top 116px, right 34px bottom 134px, right 74px bottom 22px;

  // @media (min-device-pixel-ratio: 2),
  //   (min-resolution: 192dpi),
  //   (min-resolution: 2dppx) {
  //   background-image: url(../../image//hero/klipartz7-2x.png),
  //     url(../../image//hero/group1-2x.png), url(../../image//hero/group2-2x.png),
  //     url(../../image//hero/group3-2x.png),
  //     url(../../image/hero/klipartz5-2x.png);
  // }

  &__content {
    width: 548px;
  }

  &__title {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.28;
    color: var(--primary-text-color);
    margin-bottom: 24px;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    gap: 112px;
    margin-top: 60px;
  }

  &__count {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.361;
    color: #001b04;
    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.278;
    color: var(--primary-text-color);
    text-align: center;
  }
}
